body {
	background-color: #eeeeee;
	margin: 0;
}
footer, header, #principal {
	margin: 0 auto;
	width: 960px;
}
footer {
	background-color: #eeffee;
	height: 50px;
	line-height: 50px;
}
header {
	height: 230px;
	line-height: 200px;
	padding: 10px
}
#caja {
	background-color: #666666;
	height: 150px;
	margin: 0 10px;
	
	width: 300px;
}
#principal {
	background-color: #ffffff;
	height: 1000px;
	padding-top: 10px;
}
#lcolumn {
	background-color: #ccccdd;
	height: 600px;
	position: relative;
	width: 320px;

}

.cajafixed {
	position: fixed;
	top:10px;
}
.cajafixed1 {
	bottom: 10px;
	position: absolute;
}
